.floating-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -380px;
}

.card {
  border-radius: 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.form-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.95em;
}

.form-field {
  width: 100%;
}

.form-field .form-control,
.form-field .form-select {
  color: #8a8a8a;
}

.form-field button {
  margin-top: 30px;
  align-self: center;
}

.calendar-label {
  background-image: url("../images/fi_calendarForm.png");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

.clock-label {
  background-image: url("../images/fi_clock.png");
  background-size: auto;
}

.user-label {
  background-image: url("../images/fi_usersForm.png");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

.cari-mobil {
  margin-top: 2%;
}

#list-mobil {
  padding-top: 10%;
}

@media only screen and (max-width: 576px) {
  #list-mobil {
    padding-top: 150px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  #list-mobil {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .floating-form {
    bottom: -230px;
  }
}

@media only screen and (min-width: 768px) {
  .floating-form {
    margin: 0 50px;
    bottom: -240px;
  }

  .form-field {
    width: 100%;
  }

  .form-field .form-control,
  .form-field .form-select {
    width: 100%;
  }

  .form-field button {
    display: block;
    width: 100%;
  }
}

@media (min-width: 836px) and (max-width: 991px) {
  #list-mobil {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .floating-form {
    bottom: -80px;
  }

  .form-field {
    width: auto;
  }

  .form-field .form-control,
  .form-field .form-select {
    width: 200px;
  }
}

@media only screen and (max-width: 991px) {
  #list-mobil {
    margin-top: 25%;
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  .form-field .form-control,
  .form-field .form-select {
    width: 360px;
  }
}

@media (min-width: 1051px) and (max-width: 1199px) {
  .form-field button {
    width: 824%;
  }
}
